div.Header {
  display: grid;
  grid-auto-flow: column;
  margin-top: 2%;
  grid-template-columns: 1fr 1fr;
  background-color: #db2f00;
  z-index: 1;
  width: 100vw;
}

a.userIcon {
  display: none;
}

a.navIcon {
  display: grid;
  justify-self: end;
  margin-right: 40%;
  height: 150%;
  background-color: #db2f00;
}

.userIcon:hover,
.navIcon:hover {
  opacity: 0.5;
}

.userIconA {
  display: grid;
  height: 100%;
  background-color: #db2f00;
}

.navIconA {
  display: grid;
  height: 100%;
  background-color: #db2f00;
}

.profile {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  background: white;
}

.menu {
  display: grid;
  justify-self: end;
  background-color: #db2f00;
}

.menuIn {
  display: none;
}

#lost {
  padding: 0;
  justify-self: end;
  margin-right: 10%;
  background-color: #db2f00;
}

@media (max-height: 812px) {
  div.Header {
    display: grid;
    grid-auto-flow: column;
    /* margin-top: 2%; */
    grid-template-columns: 1fr 1fr;
    background-color: #db2f00;
    height: 100%;
    width: 100vw;
  }

  a.userIcon {
    display: grid;
    margin-left: 10%;
    height: 100%;
    background-color: #db2f00;
  }

  .menuIn {
    display: grid;
    background-color: #db2f00;
  }

  a.navIcon {
    display: grid;
    justify-self: end;
    background-color: #db2f00;
  }

  .userIcon:hover,
  .navIcon:hover {
    opacity: 0.5;
  }

  .userIconA {
    display: grid;
    height: 100%;
    background-color: #db2f00;
  }

  .navIconA {
    display: grid;
    height: 100%;
    background-color: #db2f00;
  }
}

@media (max-height: 667px) {
}
