/* .citiesBody {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.citiesFillContainer{
 margin: 0 10% 3%;
} 

.cities {
  overflow-y: scroll;
  display: grid;
  align-items: center;
  grid-gap: 5%;
  margin: 0 0 2%;
}

.citiesFilter {
 font-size: 80%;
}

.citiesFill {
  width: 100%;
}

.card{
  height: 100%;
  width: 100%;
  margin: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  display: grid;
}

.citiesDisp {
  padding: 0 2% 0;
  text-align: center;
}

.citiesDisp h1 {
  text-align: center;
  text-shadow: 1.5px 1.5px white;
  font-size: 120%;
  display: grid;
} */






.citiesBody {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.citiesFilter {
  font-size: 80%;
  margin-bottom: 2%;
 }
 
 .citiesFill {
   width: 100%;
 }

.citiesFillContainer{
 margin: 5% 10% 5%;
} 



.cities {
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  /* grid-gap: 5%; */
  /* margin: 0 0 2%; */
  height: 100%;
 
}


.card {
  height: 100%;
  width: 100%;
  margin: auto;
  /* border-radius: 5%; */
  /* background-color: aquamarine; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: grid;
}

.citiesDisp {
  text-align: center;
  height: 20vh;
  width: 95%;
  margin-top: 5%;
  /* border: 1px solid black; */
}

h1.cityName {
  text-align: end;
  text-shadow: 1.5px 1px grey;
  font-size: 100%;
  margin-top: 2%;
}

a {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
